// HELPERS

@import 'bootstrap/normalize'
@import 'bootstrap/mixins'
@import 'bootstrap/variables'
@import 'bootstrap/grid'
@import 'bootstrap/responsive-utilities'

 @import 'animate-stylus/fading_entrances/fadeInUp'

// @import 'helpers/reset'
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/sprites'
@import 'helpers/slick'
@import 'helpers/fancybox'
@import "helpers/hamburger-icon"
@import "helpers/ion.rangeSlider.styl"
@import "helpers/ion.rangeSlider.skinHTML5.styl"
@import 'base'

// LAYOUT

@import 'header'
@import 'footer'
@import 'content'
