/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$aqua_big_hover_name = 'aqua-big-hover';
$aqua_big_hover_x = 250px;
$aqua_big_hover_y = 102px;
$aqua_big_hover_offset_x = -250px;
$aqua_big_hover_offset_y = -102px;
$aqua_big_hover_width = 43px;
$aqua_big_hover_height = 40px;
$aqua_big_hover_total_width = 391px;
$aqua_big_hover_total_height = 362px;
$aqua_big_hover_image = '../images/sprites/sprites.png';
$aqua_big_hover = 250px 102px -250px -102px 43px 40px 391px 362px '../images/sprites/sprites.png' 'aqua-big-hover';
$aqua_big_name = 'aqua-big';
$aqua_big_x = 250px;
$aqua_big_y = 147px;
$aqua_big_offset_x = -250px;
$aqua_big_offset_y = -147px;
$aqua_big_width = 43px;
$aqua_big_height = 40px;
$aqua_big_total_width = 391px;
$aqua_big_total_height = 362px;
$aqua_big_image = '../images/sprites/sprites.png';
$aqua_big = 250px 147px -250px -147px 43px 40px 391px 362px '../images/sprites/sprites.png' 'aqua-big';
$aqua_hover_name = 'aqua-hover';
$aqua_hover_x = 343px;
$aqua_hover_y = 66px;
$aqua_hover_offset_x = -343px;
$aqua_hover_offset_y = -66px;
$aqua_hover_width = 28px;
$aqua_hover_height = 27px;
$aqua_hover_total_width = 391px;
$aqua_hover_total_height = 362px;
$aqua_hover_image = '../images/sprites/sprites.png';
$aqua_hover = 343px 66px -343px -66px 28px 27px 391px 362px '../images/sprites/sprites.png' 'aqua-hover';
$aqua_name = 'aqua';
$aqua_x = 343px;
$aqua_y = 34px;
$aqua_offset_x = -343px;
$aqua_offset_y = -34px;
$aqua_width = 28px;
$aqua_height = 27px;
$aqua_total_width = 391px;
$aqua_total_height = 362px;
$aqua_image = '../images/sprites/sprites.png';
$aqua = 343px 34px -343px -34px 28px 27px 391px 362px '../images/sprites/sprites.png' 'aqua';
$arr_left_name = 'arr-left';
$arr_left_x = 376px;
$arr_left_y = 0px;
$arr_left_offset_x = -376px;
$arr_left_offset_y = 0px;
$arr_left_width = 15px;
$arr_left_height = 23px;
$arr_left_total_width = 391px;
$arr_left_total_height = 362px;
$arr_left_image = '../images/sprites/sprites.png';
$arr_left = 376px 0px -376px 0px 15px 23px 391px 362px '../images/sprites/sprites.png' 'arr-left';
$arr_right_name = 'arr-right';
$arr_right_x = 376px;
$arr_right_y = 28px;
$arr_right_offset_x = -376px;
$arr_right_offset_y = -28px;
$arr_right_width = 15px;
$arr_right_height = 23px;
$arr_right_total_width = 391px;
$arr_right_total_height = 362px;
$arr_right_image = '../images/sprites/sprites.png';
$arr_right = 376px 28px -376px -28px 15px 23px 391px 362px '../images/sprites/sprites.png' 'arr-right';
$arr_transparent_left_name = 'arr-transparent-left';
$arr_transparent_left_x = 298px;
$arr_transparent_left_y = 92px;
$arr_transparent_left_offset_x = -298px;
$arr_transparent_left_offset_y = -92px;
$arr_transparent_left_width = 40px;
$arr_transparent_left_height = 40px;
$arr_transparent_left_total_width = 391px;
$arr_transparent_left_total_height = 362px;
$arr_transparent_left_image = '../images/sprites/sprites.png';
$arr_transparent_left = 298px 92px -298px -92px 40px 40px 391px 362px '../images/sprites/sprites.png' 'arr-transparent-left';
$arr_transparent_right_name = 'arr-transparent-right';
$arr_transparent_right_x = 298px;
$arr_transparent_right_y = 137px;
$arr_transparent_right_offset_x = -298px;
$arr_transparent_right_offset_y = -137px;
$arr_transparent_right_width = 40px;
$arr_transparent_right_height = 40px;
$arr_transparent_right_total_width = 391px;
$arr_transparent_right_total_height = 362px;
$arr_transparent_right_image = '../images/sprites/sprites.png';
$arr_transparent_right = 298px 137px -298px -137px 40px 40px 391px 362px '../images/sprites/sprites.png' 'arr-transparent-right';
$arr_up_name = 'arr-up';
$arr_up_x = 188px;
$arr_up_y = 66px;
$arr_up_offset_x = -188px;
$arr_up_offset_y = -66px;
$arr_up_width = 51px;
$arr_up_height = 50px;
$arr_up_total_width = 391px;
$arr_up_total_height = 362px;
$arr_up_image = '../images/sprites/sprites.png';
$arr_up = 188px 66px -188px -66px 51px 50px 391px 362px '../images/sprites/sprites.png' 'arr-up';
$cart_ping_name = 'cart-ping';
$cart_ping_x = 32px;
$cart_ping_y = 340px;
$cart_ping_offset_x = -32px;
$cart_ping_offset_y = -340px;
$cart_ping_width = 23px;
$cart_ping_height = 21px;
$cart_ping_total_width = 391px;
$cart_ping_total_height = 362px;
$cart_ping_image = '../images/sprites/sprites.png';
$cart_ping = 32px 340px -32px -340px 23px 21px 391px 362px '../images/sprites/sprites.png' 'cart-ping';
$cart_pink_hover_name = 'cart-pink-hover';
$cart_pink_hover_x = 60px;
$cart_pink_hover_y = 340px;
$cart_pink_hover_offset_x = -60px;
$cart_pink_hover_offset_y = -340px;
$cart_pink_hover_width = 23px;
$cart_pink_hover_height = 21px;
$cart_pink_hover_total_width = 391px;
$cart_pink_hover_total_height = 362px;
$cart_pink_hover_image = '../images/sprites/sprites.png';
$cart_pink_hover = 60px 340px -60px -340px 23px 21px 391px 362px '../images/sprites/sprites.png' 'cart-pink-hover';
$cart_pink_name = 'cart-pink';
$cart_pink_x = 88px;
$cart_pink_y = 340px;
$cart_pink_offset_x = -88px;
$cart_pink_offset_y = -340px;
$cart_pink_width = 23px;
$cart_pink_height = 21px;
$cart_pink_total_width = 391px;
$cart_pink_total_height = 362px;
$cart_pink_image = '../images/sprites/sprites.png';
$cart_pink = 88px 340px -88px -340px 23px 21px 391px 362px '../images/sprites/sprites.png' 'cart-pink';
$cart_white_name = 'cart-white';
$cart_white_x = 314px;
$cart_white_y = 280px;
$cart_white_offset_x = -314px;
$cart_white_offset_y = -280px;
$cart_white_width = 23px;
$cart_white_height = 21px;
$cart_white_total_width = 391px;
$cart_white_total_height = 362px;
$cart_white_image = '../images/sprites/sprites.png';
$cart_white = 314px 280px -314px -280px 23px 21px 391px 362px '../images/sprites/sprites.png' 'cart-white';
$castle_big_hover_name = 'castle-big-hover';
$castle_big_hover_x = 161px;
$castle_big_hover_y = 135px;
$castle_big_hover_offset_x = -161px;
$castle_big_hover_offset_y = -135px;
$castle_big_hover_width = 50px;
$castle_big_hover_height = 41px;
$castle_big_hover_total_width = 391px;
$castle_big_hover_total_height = 362px;
$castle_big_hover_image = '../images/sprites/sprites.png';
$castle_big_hover = 161px 135px -161px -135px 50px 41px 391px 362px '../images/sprites/sprites.png' 'castle-big-hover';
$castle_big_name = 'castle-big';
$castle_big_x = 0px;
$castle_big_y = 188px;
$castle_big_offset_x = 0px;
$castle_big_offset_y = -188px;
$castle_big_width = 50px;
$castle_big_height = 41px;
$castle_big_total_width = 391px;
$castle_big_total_height = 362px;
$castle_big_image = '../images/sprites/sprites.png';
$castle_big = 0px 188px 0px -188px 50px 41px 391px 362px '../images/sprites/sprites.png' 'castle-big';
$castle_hover_name = 'castle-hover';
$castle_hover_x = 207px;
$castle_hover_y = 188px;
$castle_hover_offset_x = -207px;
$castle_hover_offset_y = -188px;
$castle_hover_width = 33px;
$castle_hover_height = 28px;
$castle_hover_total_width = 391px;
$castle_hover_total_height = 362px;
$castle_hover_image = '../images/sprites/sprites.png';
$castle_hover = 207px 188px -207px -188px 33px 28px 391px 362px '../images/sprites/sprites.png' 'castle-hover';
$castle_name = 'castle';
$castle_x = 250px;
$castle_y = 192px;
$castle_offset_x = -250px;
$castle_offset_y = -192px;
$castle_width = 33px;
$castle_height = 28px;
$castle_total_width = 391px;
$castle_total_height = 362px;
$castle_image = '../images/sprites/sprites.png';
$castle = 250px 192px -250px -192px 33px 28px 391px 362px '../images/sprites/sprites.png' 'castle';
$cat_hover_name = 'cat-hover';
$cat_hover_x = 0px;
$cat_hover_y = 135px;
$cat_hover_offset_x = 0px;
$cat_hover_offset_y = -135px;
$cat_hover_width = 48px;
$cat_hover_height = 48px;
$cat_hover_total_width = 391px;
$cat_hover_total_height = 362px;
$cat_hover_image = '../images/sprites/sprites.png';
$cat_hover = 0px 135px 0px -135px 48px 48px 391px 362px '../images/sprites/sprites.png' 'cat-hover';
$cat_small_hover_name = 'cat-small-hover';
$cat_small_hover_x = 343px;
$cat_small_hover_y = 0px;
$cat_small_hover_offset_x = -343px;
$cat_small_hover_offset_y = 0px;
$cat_small_hover_width = 28px;
$cat_small_hover_height = 29px;
$cat_small_hover_total_width = 391px;
$cat_small_hover_total_height = 362px;
$cat_small_hover_image = '../images/sprites/sprites.png';
$cat_small_hover = 343px 0px -343px 0px 28px 29px 391px 362px '../images/sprites/sprites.png' 'cat-small-hover';
$cat_small_name = 'cat-small';
$cat_small_x = 216px;
$cat_small_y = 135px;
$cat_small_offset_x = -216px;
$cat_small_offset_y = -135px;
$cat_small_width = 28px;
$cat_small_height = 29px;
$cat_small_total_width = 391px;
$cat_small_total_height = 362px;
$cat_small_image = '../images/sprites/sprites.png';
$cat_small = 216px 135px -216px -135px 28px 29px 391px 362px '../images/sprites/sprites.png' 'cat-small';
$cat_name = 'cat';
$cat_x = 134px;
$cat_y = 68px;
$cat_offset_x = -134px;
$cat_offset_y = -68px;
$cat_width = 48px;
$cat_height = 48px;
$cat_total_width = 391px;
$cat_total_height = 362px;
$cat_image = '../images/sprites/sprites.png';
$cat = 134px 68px -134px -68px 48px 48px 391px 362px '../images/sprites/sprites.png' 'cat';
$cross_hover_name = 'cross-hover';
$cross_hover_x = 376px;
$cross_hover_y = 149px;
$cross_hover_offset_x = -376px;
$cross_hover_offset_y = -149px;
$cross_hover_width = 11px;
$cross_hover_height = 11px;
$cross_hover_total_width = 391px;
$cross_hover_total_height = 362px;
$cross_hover_image = '../images/sprites/sprites.png';
$cross_hover = 376px 149px -376px -149px 11px 11px 391px 362px '../images/sprites/sprites.png' 'cross-hover';
$cross_name = 'cross';
$cross_x = 376px;
$cross_y = 133px;
$cross_offset_x = -376px;
$cross_offset_y = -133px;
$cross_width = 11px;
$cross_height = 11px;
$cross_total_width = 391px;
$cross_total_height = 362px;
$cross_image = '../images/sprites/sprites.png';
$cross = 376px 133px -376px -133px 11px 11px 391px 362px '../images/sprites/sprites.png' 'cross';
$delivery_point_name = 'delivery-point';
$delivery_point_x = 0px;
$delivery_point_y = 340px;
$delivery_point_offset_x = 0px;
$delivery_point_offset_y = -340px;
$delivery_point_width = 27px;
$delivery_point_height = 22px;
$delivery_point_total_width = 391px;
$delivery_point_total_height = 362px;
$delivery_point_image = '../images/sprites/sprites.png';
$delivery_point = 0px 340px 0px -340px 27px 22px 391px 362px '../images/sprites/sprites.png' 'delivery-point';
$delivery_name = 'delivery';
$delivery_x = 246px;
$delivery_y = 280px;
$delivery_offset_x = -246px;
$delivery_offset_y = -280px;
$delivery_width = 30px;
$delivery_height = 22px;
$delivery_total_width = 391px;
$delivery_total_height = 362px;
$delivery_image = '../images/sprites/sprites.png';
$delivery = 246px 280px -246px -280px 30px 22px 391px 362px '../images/sprites/sprites.png' 'delivery';
$dog_hover_name = 'dog-hover';
$dog_hover_x = 53px;
$dog_hover_y = 135px;
$dog_hover_offset_x = -53px;
$dog_hover_offset_y = -135px;
$dog_hover_width = 49px;
$dog_hover_height = 45px;
$dog_hover_total_width = 391px;
$dog_hover_total_height = 362px;
$dog_hover_image = '../images/sprites/sprites.png';
$dog_hover = 53px 135px -53px -135px 49px 45px 391px 362px '../images/sprites/sprites.png' 'dog-hover';
$dog_small_hover_name = 'dog-small-hover';
$dog_small_hover_x = 177px;
$dog_small_hover_y = 280px;
$dog_small_hover_offset_x = -177px;
$dog_small_hover_offset_y = -280px;
$dog_small_hover_width = 30px;
$dog_small_hover_height = 27px;
$dog_small_hover_total_width = 391px;
$dog_small_hover_total_height = 362px;
$dog_small_hover_image = '../images/sprites/sprites.png';
$dog_small_hover = 177px 280px -177px -280px 30px 27px 391px 362px '../images/sprites/sprites.png' 'dog-small-hover';
$dog_small_name = 'dog-small';
$dog_small_x = 72px;
$dog_small_y = 280px;
$dog_small_offset_x = -72px;
$dog_small_offset_y = -280px;
$dog_small_width = 30px;
$dog_small_height = 27px;
$dog_small_total_width = 391px;
$dog_small_total_height = 362px;
$dog_small_image = '../images/sprites/sprites.png';
$dog_small = 72px 280px -72px -280px 30px 27px 391px 362px '../images/sprites/sprites.png' 'dog-small';
$dog_name = 'dog';
$dog_x = 107px;
$dog_y = 135px;
$dog_offset_x = -107px;
$dog_offset_y = -135px;
$dog_width = 49px;
$dog_height = 45px;
$dog_total_width = 391px;
$dog_total_height = 362px;
$dog_image = '../images/sprites/sprites.png';
$dog = 107px 135px -107px -135px 49px 45px 391px 362px '../images/sprites/sprites.png' 'dog';
$feature1_name = 'feature1';
$feature1_x = 0px;
$feature1_y = 0px;
$feature1_offset_x = 0px;
$feature1_offset_y = 0px;
$feature1_width = 87px;
$feature1_height = 63px;
$feature1_total_width = 391px;
$feature1_total_height = 362px;
$feature1_image = '../images/sprites/sprites.png';
$feature1 = 0px 0px 0px 0px 87px 63px 391px 362px '../images/sprites/sprites.png' 'feature1';
$feature2_name = 'feature2';
$feature2_x = 92px;
$feature2_y = 0px;
$feature2_offset_x = -92px;
$feature2_offset_y = 0px;
$feature2_width = 91px;
$feature2_height = 57px;
$feature2_total_width = 391px;
$feature2_total_height = 362px;
$feature2_image = '../images/sprites/sprites.png';
$feature2 = 92px 0px -92px 0px 91px 57px 391px 362px '../images/sprites/sprites.png' 'feature2';
$feature3_name = 'feature3';
$feature3_x = 0px;
$feature3_y = 68px;
$feature3_offset_x = 0px;
$feature3_offset_y = -68px;
$feature3_width = 65px;
$feature3_height = 62px;
$feature3_total_width = 391px;
$feature3_total_height = 362px;
$feature3_image = '../images/sprites/sprites.png';
$feature3 = 0px 68px 0px -68px 65px 62px 391px 362px '../images/sprites/sprites.png' 'feature3';
$feature4_name = 'feature4';
$feature4_x = 70px;
$feature4_y = 68px;
$feature4_offset_x = -70px;
$feature4_offset_y = -68px;
$feature4_width = 59px;
$feature4_height = 61px;
$feature4_total_width = 391px;
$feature4_total_height = 362px;
$feature4_image = '../images/sprites/sprites.png';
$feature4 = 70px 68px -70px -68px 59px 61px 391px 362px '../images/sprites/sprites.png' 'feature4';
$feature5_name = 'feature5';
$feature5_x = 188px;
$feature5_y = 0px;
$feature5_offset_x = -188px;
$feature5_offset_y = 0px;
$feature5_width = 57px;
$feature5_height = 61px;
$feature5_total_width = 391px;
$feature5_total_height = 362px;
$feature5_image = '../images/sprites/sprites.png';
$feature5 = 188px 0px -188px 0px 57px 61px 391px 362px '../images/sprites/sprites.png' 'feature5';
$fish_for_big_hover_name = 'fish-for-big-hover';
$fish_for_big_hover_x = 157px;
$fish_for_big_hover_y = 188px;
$fish_for_big_hover_offset_x = -157px;
$fish_for_big_hover_offset_y = -188px;
$fish_for_big_hover_width = 45px;
$fish_for_big_hover_height = 41px;
$fish_for_big_hover_total_width = 391px;
$fish_for_big_hover_total_height = 362px;
$fish_for_big_hover_image = '../images/sprites/sprites.png';
$fish_for_big_hover = 157px 188px -157px -188px 45px 41px 391px 362px '../images/sprites/sprites.png' 'fish-for-big-hover';
$fish_for_big_name = 'fish-for-big';
$fish_for_big_x = 0px;
$fish_for_big_y = 234px;
$fish_for_big_offset_x = 0px;
$fish_for_big_offset_y = -234px;
$fish_for_big_width = 45px;
$fish_for_big_height = 41px;
$fish_for_big_total_width = 391px;
$fish_for_big_total_height = 362px;
$fish_for_big_image = '../images/sprites/sprites.png';
$fish_for_big = 0px 234px 0px -234px 45px 41px 391px 362px '../images/sprites/sprites.png' 'fish-for-big';
$fish_for_hover_name = 'fish-for-hover';
$fish_for_hover_x = 107px;
$fish_for_hover_y = 280px;
$fish_for_hover_offset_x = -107px;
$fish_for_hover_offset_y = -280px;
$fish_for_hover_width = 30px;
$fish_for_hover_height = 27px;
$fish_for_hover_total_width = 391px;
$fish_for_hover_total_height = 362px;
$fish_for_hover_image = '../images/sprites/sprites.png';
$fish_for_hover = 107px 280px -107px -280px 30px 27px 391px 362px '../images/sprites/sprites.png' 'fish-for-hover';
$fish_for_name = 'fish-for';
$fish_for_x = 142px;
$fish_for_y = 280px;
$fish_for_offset_x = -142px;
$fish_for_offset_y = -280px;
$fish_for_width = 30px;
$fish_for_height = 27px;
$fish_for_total_width = 391px;
$fish_for_total_height = 362px;
$fish_for_image = '../images/sprites/sprites.png';
$fish_for = 142px 280px -142px -280px 30px 27px 391px 362px '../images/sprites/sprites.png' 'fish-for';
$fish_hover_name = 'fish-hover';
$fish_hover_x = 298px;
$fish_hover_y = 182px;
$fish_hover_offset_x = -298px;
$fish_hover_offset_y = -182px;
$fish_hover_width = 40px;
$fish_hover_height = 39px;
$fish_hover_total_width = 391px;
$fish_hover_total_height = 362px;
$fish_hover_image = '../images/sprites/sprites.png';
$fish_hover = 298px 182px -298px -182px 40px 39px 391px 362px '../images/sprites/sprites.png' 'fish-hover';
$fish_small_hover_name = 'fish-small-hover';
$fish_small_hover_x = 281px;
$fish_small_hover_y = 280px;
$fish_small_hover_offset_x = -281px;
$fish_small_hover_offset_y = -280px;
$fish_small_hover_width = 28px;
$fish_small_hover_height = 22px;
$fish_small_hover_total_width = 391px;
$fish_small_hover_total_height = 362px;
$fish_small_hover_image = '../images/sprites/sprites.png';
$fish_small_hover = 281px 280px -281px -280px 28px 22px 391px 362px '../images/sprites/sprites.png' 'fish-small-hover';
$fish_small_name = 'fish-small';
$fish_small_x = 343px;
$fish_small_y = 262px;
$fish_small_offset_x = -343px;
$fish_small_offset_y = -262px;
$fish_small_width = 28px;
$fish_small_height = 22px;
$fish_small_total_width = 391px;
$fish_small_total_height = 362px;
$fish_small_image = '../images/sprites/sprites.png';
$fish_small = 343px 262px -343px -262px 28px 22px 391px 362px '../images/sprites/sprites.png' 'fish-small';
$fish_name = 'fish';
$fish_x = 298px;
$fish_y = 226px;
$fish_offset_x = -298px;
$fish_offset_y = -226px;
$fish_width = 40px;
$fish_height = 39px;
$fish_total_width = 391px;
$fish_total_height = 362px;
$fish_image = '../images/sprites/sprites.png';
$fish = 298px 226px -298px -226px 40px 39px 391px 362px '../images/sprites/sprites.png' 'fish';
$korm_big_hover_name = 'korm-big-hover';
$korm_big_hover_x = 106px;
$korm_big_hover_y = 188px;
$korm_big_hover_offset_x = -106px;
$korm_big_hover_offset_y = -188px;
$korm_big_hover_width = 46px;
$korm_big_hover_height = 41px;
$korm_big_hover_total_width = 391px;
$korm_big_hover_total_height = 362px;
$korm_big_hover_image = '../images/sprites/sprites.png';
$korm_big_hover = 106px 188px -106px -188px 46px 41px 391px 362px '../images/sprites/sprites.png' 'korm-big-hover';
$korm_big_name = 'korm-big';
$korm_big_x = 55px;
$korm_big_y = 188px;
$korm_big_offset_x = -55px;
$korm_big_offset_y = -188px;
$korm_big_width = 46px;
$korm_big_height = 41px;
$korm_big_total_width = 391px;
$korm_big_total_height = 362px;
$korm_big_image = '../images/sprites/sprites.png';
$korm_big = 55px 188px -55px -188px 46px 41px 391px 362px '../images/sprites/sprites.png' 'korm-big';
$korm_hover_name = 'korm-hover';
$korm_hover_x = 0px;
$korm_hover_y = 280px;
$korm_hover_offset_x = 0px;
$korm_hover_offset_y = -280px;
$korm_hover_width = 31px;
$korm_hover_height = 28px;
$korm_hover_total_width = 391px;
$korm_hover_total_height = 362px;
$korm_hover_image = '../images/sprites/sprites.png';
$korm_hover = 0px 280px 0px -280px 31px 28px 391px 362px '../images/sprites/sprites.png' 'korm-hover';
$korm_name = 'korm';
$korm_x = 36px;
$korm_y = 280px;
$korm_offset_x = -36px;
$korm_offset_y = -280px;
$korm_width = 31px;
$korm_height = 28px;
$korm_total_width = 391px;
$korm_total_height = 362px;
$korm_image = '../images/sprites/sprites.png';
$korm = 36px 280px -36px -280px 31px 28px 391px 362px '../images/sprites/sprites.png' 'korm';
$mouse_hover_name = 'mouse-hover';
$mouse_hover_x = 101px;
$mouse_hover_y = 234px;
$mouse_hover_offset_x = -101px;
$mouse_hover_offset_y = -234px;
$mouse_hover_width = 46px;
$mouse_hover_height = 36px;
$mouse_hover_total_width = 391px;
$mouse_hover_total_height = 362px;
$mouse_hover_image = '../images/sprites/sprites.png';
$mouse_hover = 101px 234px -101px -234px 46px 36px 391px 362px '../images/sprites/sprites.png' 'mouse-hover';
$mouse_small_hover_name = 'mouse-small-hover';
$mouse_small_hover_x = 256px;
$mouse_small_hover_y = 234px;
$mouse_small_hover_offset_x = -256px;
$mouse_small_hover_offset_y = -234px;
$mouse_small_hover_width = 29px;
$mouse_small_hover_height = 23px;
$mouse_small_hover_total_width = 391px;
$mouse_small_hover_total_height = 362px;
$mouse_small_hover_image = '../images/sprites/sprites.png';
$mouse_small_hover = 256px 234px -256px -234px 29px 23px 391px 362px '../images/sprites/sprites.png' 'mouse-small-hover';
$mouse_small_name = 'mouse-small';
$mouse_small_x = 212px;
$mouse_small_y = 280px;
$mouse_small_offset_x = -212px;
$mouse_small_offset_y = -280px;
$mouse_small_width = 29px;
$mouse_small_height = 23px;
$mouse_small_total_width = 391px;
$mouse_small_total_height = 362px;
$mouse_small_image = '../images/sprites/sprites.png';
$mouse_small = 212px 280px -212px -280px 29px 23px 391px 362px '../images/sprites/sprites.png' 'mouse-small';
$mouse_name = 'mouse';
$mouse_x = 50px;
$mouse_y = 234px;
$mouse_offset_x = -50px;
$mouse_offset_y = -234px;
$mouse_width = 46px;
$mouse_height = 36px;
$mouse_total_width = 391px;
$mouse_total_height = 362px;
$mouse_image = '../images/sprites/sprites.png';
$mouse = 50px 234px -50px -234px 46px 36px 391px 362px '../images/sprites/sprites.png' 'mouse';
$oborud_big_hover_name = 'oborud-big-hover';
$oborud_big_hover_x = 298px;
$oborud_big_hover_y = 46px;
$oborud_big_hover_offset_x = -298px;
$oborud_big_hover_offset_y = -46px;
$oborud_big_hover_width = 40px;
$oborud_big_hover_height = 41px;
$oborud_big_hover_total_width = 391px;
$oborud_big_hover_total_height = 362px;
$oborud_big_hover_image = '../images/sprites/sprites.png';
$oborud_big_hover = 298px 46px -298px -46px 40px 41px 391px 362px '../images/sprites/sprites.png' 'oborud-big-hover';
$oborud_big_name = 'oborud-big';
$oborud_big_x = 298px;
$oborud_big_y = 0px;
$oborud_big_offset_x = -298px;
$oborud_big_offset_y = 0px;
$oborud_big_width = 40px;
$oborud_big_height = 41px;
$oborud_big_total_width = 391px;
$oborud_big_total_height = 362px;
$oborud_big_image = '../images/sprites/sprites.png';
$oborud_big = 298px 0px -298px 0px 40px 41px 391px 362px '../images/sprites/sprites.png' 'oborud-big';
$oborud_hover_name = 'oborud-hover';
$oborud_hover_x = 343px;
$oborud_hover_y = 131px;
$oborud_hover_offset_x = -343px;
$oborud_hover_offset_y = -131px;
$oborud_hover_width = 27px;
$oborud_hover_height = 28px;
$oborud_hover_total_width = 391px;
$oborud_hover_total_height = 362px;
$oborud_hover_image = '../images/sprites/sprites.png';
$oborud_hover = 343px 131px -343px -131px 27px 28px 391px 362px '../images/sprites/sprites.png' 'oborud-hover';
$oborud_name = 'oborud';
$oborud_x = 343px;
$oborud_y = 98px;
$oborud_offset_x = -343px;
$oborud_offset_y = -98px;
$oborud_width = 27px;
$oborud_height = 28px;
$oborud_total_width = 391px;
$oborud_total_height = 362px;
$oborud_image = '../images/sprites/sprites.png';
$oborud = 343px 98px -343px -98px 27px 28px 391px 362px '../images/sprites/sprites.png' 'oborud';
$opt_name = 'opt';
$opt_x = 0px;
$opt_y = 313px;
$opt_offset_x = 0px;
$opt_offset_y = -313px;
$opt_width = 28px;
$opt_height = 22px;
$opt_total_width = 391px;
$opt_total_height = 362px;
$opt_image = '../images/sprites/sprites.png';
$opt = 0px 313px 0px -313px 28px 22px 391px 362px '../images/sprites/sprites.png' 'opt';
$parrot_hover_name = 'parrot-hover';
$parrot_hover_x = 250px;
$parrot_hover_y = 0px;
$parrot_hover_offset_x = -250px;
$parrot_hover_offset_y = 0px;
$parrot_hover_width = 43px;
$parrot_hover_height = 46px;
$parrot_hover_total_width = 391px;
$parrot_hover_total_height = 362px;
$parrot_hover_image = '../images/sprites/sprites.png';
$parrot_hover = 250px 0px -250px 0px 43px 46px 391px 362px '../images/sprites/sprites.png' 'parrot-hover';
$parrot_small_hover_name = 'parrot-small-hover';
$parrot_small_hover_x = 343px;
$parrot_small_hover_y = 197px;
$parrot_small_hover_offset_x = -343px;
$parrot_small_hover_offset_y = -197px;
$parrot_small_hover_width = 26px;
$parrot_small_hover_height = 28px;
$parrot_small_hover_total_width = 391px;
$parrot_small_hover_total_height = 362px;
$parrot_small_hover_image = '../images/sprites/sprites.png';
$parrot_small_hover = 343px 197px -343px -197px 26px 28px 391px 362px '../images/sprites/sprites.png' 'parrot-small-hover';
$parrot_small_name = 'parrot-small';
$parrot_small_x = 343px;
$parrot_small_y = 164px;
$parrot_small_offset_x = -343px;
$parrot_small_offset_y = -164px;
$parrot_small_width = 26px;
$parrot_small_height = 28px;
$parrot_small_total_width = 391px;
$parrot_small_total_height = 362px;
$parrot_small_image = '../images/sprites/sprites.png';
$parrot_small = 343px 164px -343px -164px 26px 28px 391px 362px '../images/sprites/sprites.png' 'parrot-small';
$parrot_name = 'parrot';
$parrot_x = 250px;
$parrot_y = 51px;
$parrot_offset_x = -250px;
$parrot_offset_y = -51px;
$parrot_width = 43px;
$parrot_height = 46px;
$parrot_total_width = 391px;
$parrot_total_height = 362px;
$parrot_image = '../images/sprites/sprites.png';
$parrot = 250px 51px -250px -51px 43px 46px 391px 362px '../images/sprites/sprites.png' 'parrot';
$paw_name = 'paw';
$paw_x = 343px;
$paw_y = 230px;
$paw_offset_x = -343px;
$paw_offset_y = -230px;
$paw_width = 24px;
$paw_height = 27px;
$paw_total_width = 391px;
$paw_total_height = 362px;
$paw_image = '../images/sprites/sprites.png';
$paw = 343px 230px -343px -230px 24px 27px 391px 362px '../images/sprites/sprites.png' 'paw';
$search_name = 'search';
$search_x = 376px;
$search_y = 56px;
$search_offset_x = -376px;
$search_offset_y = -56px;
$search_width = 15px;
$search_height = 20px;
$search_total_width = 391px;
$search_total_height = 362px;
$search_image = '../images/sprites/sprites.png';
$search = 376px 56px -376px -56px 15px 20px 391px 362px '../images/sprites/sprites.png' 'search';
$smartphone_hover_name = 'smartphone-hover';
$smartphone_hover_x = 376px;
$smartphone_hover_y = 107px;
$smartphone_hover_offset_x = -376px;
$smartphone_hover_offset_y = -107px;
$smartphone_hover_width = 14px;
$smartphone_hover_height = 21px;
$smartphone_hover_total_width = 391px;
$smartphone_hover_total_height = 362px;
$smartphone_hover_image = '../images/sprites/sprites.png';
$smartphone_hover = 376px 107px -376px -107px 14px 21px 391px 362px '../images/sprites/sprites.png' 'smartphone-hover';
$smartphone_name = 'smartphone';
$smartphone_x = 376px;
$smartphone_y = 81px;
$smartphone_offset_x = -376px;
$smartphone_offset_y = -81px;
$smartphone_width = 14px;
$smartphone_height = 21px;
$smartphone_total_width = 391px;
$smartphone_total_height = 362px;
$smartphone_image = '../images/sprites/sprites.png';
$smartphone = 376px 81px -376px -81px 14px 21px 391px 362px '../images/sprites/sprites.png' 'smartphone';
$turtle_hover_name = 'turtle-hover';
$turtle_hover_x = 204px;
$turtle_hover_y = 234px;
$turtle_hover_offset_x = -204px;
$turtle_hover_offset_y = -234px;
$turtle_hover_width = 47px;
$turtle_hover_height = 26px;
$turtle_hover_total_width = 391px;
$turtle_hover_total_height = 362px;
$turtle_hover_image = '../images/sprites/sprites.png';
$turtle_hover = 204px 234px -204px -234px 47px 26px 391px 362px '../images/sprites/sprites.png' 'turtle-hover';
$turtle_small_hover_name = 'turtle-small-hover';
$turtle_small_hover_x = 71px;
$turtle_small_hover_y = 313px;
$turtle_small_hover_offset_x = -71px;
$turtle_small_hover_offset_y = -313px;
$turtle_small_hover_width = 33px;
$turtle_small_hover_height = 18px;
$turtle_small_hover_total_width = 391px;
$turtle_small_hover_total_height = 362px;
$turtle_small_hover_image = '../images/sprites/sprites.png';
$turtle_small_hover = 71px 313px -71px -313px 33px 18px 391px 362px '../images/sprites/sprites.png' 'turtle-small-hover';
$turtle_small_name = 'turtle-small';
$turtle_small_x = 33px;
$turtle_small_y = 313px;
$turtle_small_offset_x = -33px;
$turtle_small_offset_y = -313px;
$turtle_small_width = 33px;
$turtle_small_height = 18px;
$turtle_small_total_width = 391px;
$turtle_small_total_height = 362px;
$turtle_small_image = '../images/sprites/sprites.png';
$turtle_small = 33px 313px -33px -313px 33px 18px 391px 362px '../images/sprites/sprites.png' 'turtle-small';
$turtle_name = 'turtle';
$turtle_x = 152px;
$turtle_y = 234px;
$turtle_offset_x = -152px;
$turtle_offset_y = -234px;
$turtle_width = 47px;
$turtle_height = 26px;
$turtle_total_width = 391px;
$turtle_total_height = 362px;
$turtle_image = '../images/sprites/sprites.png';
$turtle = 152px 234px -152px -234px 47px 26px 391px 362px '../images/sprites/sprites.png' 'turtle';
$spritesheet_width = 391px;
$spritesheet_height = 362px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $aqua_big_hover $aqua_big $aqua_hover $aqua $arr_left $arr_right $arr_transparent_left $arr_transparent_right $arr_up $cart_ping $cart_pink_hover $cart_pink $cart_white $castle_big_hover $castle_big $castle_hover $castle $cat_hover $cat_small_hover $cat_small $cat $cross_hover $cross $delivery_point $delivery $dog_hover $dog_small_hover $dog_small $dog $feature1 $feature2 $feature3 $feature4 $feature5 $fish_for_big_hover $fish_for_big $fish_for_hover $fish_for $fish_hover $fish_small_hover $fish_small $fish $korm_big_hover $korm_big $korm_hover $korm $mouse_hover $mouse_small_hover $mouse_small $mouse $oborud_big_hover $oborud_big $oborud_hover $oborud $opt $parrot_hover $parrot_small_hover $parrot_small $parrot $paw $search $smartphone_hover $smartphone $turtle_hover $turtle_small_hover $turtle_small $turtle;
$spritesheet = 391px 362px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
